.navbar.navbar-default {
    background-color: rgb(98, 8, 184);
    margin-bottom: 0px;
}
.navbar-default .navbar-brand {
    color: white;
}
.collapse.navbar-collapse {
    background-color: rgb(98, 8, 184);
color: #d2691e;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
   
}
.navbar-default .navbar-nav>li>a {
    color: white;
    border-bottom: white 1px solid;
}


.menu-row{
    color: white;
background-color: #d2691e ;}